

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1 {
    text-align: center;   
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'arial narrow';
}

h2 {
    font-family: 'arial narrow';
    font-size: 30px;
}

h3 {
    font-family: 'arial narrow';
}

h4 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFEC8A;
    font-family: 'arial narrow';

  }

li {
    float: right;
    background-color: #FFEC8A;
    text-align: center;
    padding: 14px 16px;
    font-family: 'arial narrow';
  }
  
a {
    display: block;
    padding: 8px;
  }

.active {
    background-color: #DBAE84;
}
  
table {
    text-align: center;
    width: 70%;
    margin:auto;
}

td {
    padding-bottom: 30px;
}

.flavors {
    border-radius: 50%;
    font-family: 'arial narrow';
    font-size: 20px;
}

.detail {
    float: right;
    padding: 50px;
    margin-right: 100px;
}

.productdetail {
    margin-left: 100px;
    margin-top: 100px;
    font-family: "arial narrow";
}

p {
    font-family: 'arial narrow';
    font-size: 20px;
}

hr {
    color: #ACACAC;
}

.box {
    width: 70%;
    border-radius: 25px;
    border: 2px solid #FFD600;
    background:#FFEC89;
    padding: 30px;
    margin: auto;
}

.box ul {
    overflow: visible;
    display: flex;
    justify-content: center;
}

.box li {
    float: none;
    width: 15%;
}

.payment {
    font-size: 20px;
    width: 50%;
    border-radius: 25px;
    border: 1px solid #000000;
    background:#DBAE84;
    padding: 10px;
    margin: auto;
}

.box #itemList {
    width: 100%;
    flex-wrap: wrap;
}

.box #wishlistList {
    width: 100%;
    flex-wrap: wrap;
}

.box #itemList ul {
    width: 100%;
    position: relative;
}

.box #wishlistList ul {
    width: 100%;
    position: relative;
}

.box #itemList > li {
    padding: 0;
    width: 100%;
    justify-self: right;
}

.box #wishlistList > li {
    padding: 0;
    width: 100%;
    justify-self: right;
}

.box .removeItem {
    cursor: pointer;
    width: auto;
    position: absolute;
    right: 0;
}

* {
    box-sizing: border-box;
  }
  
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

.mySlides {
    margin-left: 100px;
    width: 20%;
    float: left;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: 100px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}